@model LuanVan.Data.Noihotro

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Noihotro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaMtq" class="control-label"></label>
                <select asp-for="MaMtq" class ="form-control" asp-items="ViewBag.MaMtq"></select>
            </div>
            <div class="form-group">
                <label asp-for="Diachi" class="control-label"></label>
                <input asp-for="Diachi" class="form-control" />
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tinhtrang" class="control-label"></label>
                <input asp-for="Tinhtrang" class="form-control" />
                <span asp-validation-for="Tinhtrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canhotro" class="control-label"></label>
                <input asp-for="Canhotro" class="form-control" />
                <span asp-validation-for="Canhotro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangthaiNht" class="control-label"></label>
                <input asp-for="TrangthaiNht" class="form-control" />
                <span asp-validation-for="TrangthaiNht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTv" class="control-label"></label>
                <select asp-for="MaTv" class ="form-control" asp-items="ViewBag.MaTv"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnhNth" class="control-label"></label>
                <input asp-for="AnhNth" class="form-control" />
                <span asp-validation-for="AnhNth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

