@using LuanVan.Data;
@model LuanVan.Data.TtQuyengopHienvat

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-group {
        width: 200px;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f4f4f4;
    }

    h1, h4 {
        color: #333;
    }

    label {
        color: #666;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
    }

        input[type="submit"]:hover {
            background-color: #0062cc;
        }

    input.form-control:hover, select.form-control:hover {
        border-color: #007bff;
    }

    input.form-control, select.form-control {
        width: 100%;
        height: 40px;
        padding: 8px;
        font-size: 16px;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
</style>
<br />
<h1>Đăng ký quyên góp</h1>

<hr />
<div style="width:1300px">
    <table style="width:100%;">
        <td style="width:30%">
        <div class="row" >
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="MaMtq" class="control-label">Họ tên</label>
                        <select asp-for="MaMtq" class="form-control" asp-items="ViewBag.MaMtq"></select>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="MaCd" class="control-label">Chiến dịch</label>
                        <select asp-for="MaCd" class="form-control" asp-items="ViewBag.MaCd"></select>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="MaHv" class="control-label">Hiện vật</label>
                        <select asp-for="MaHv" class="form-control" asp-items="ViewBag.MaHv"></select>

                    </div>


                    <br />
                    <div class="form-group">
                        <label asp-for="SoluongQg" class="control-label">Số Lượng</label>
                        <input asp-for="SoluongQg" class="form-control" />
                        <span asp-validation-for="SoluongQg" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Ghichu" class="control-label">Ghi chú</label>
                        <input asp-for="Ghichu" class="form-control" />
                        <span asp-validation-for="Ghichu" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Đăng ký" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <br />
            <div>
                <a asp-action="index" asp-controller="ChienDiches">Danh sách chiến dịch</a>
            </div>
        </div>
        </td>
        <td style="width:70%;">
        <div >
            @{

                NienluancosoContext context = new NienluancosoContext();
                var hv = context.HienVats.ToList();
                <h1>Danh sách hiện vật có thể quyên góp</h1>

                
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Tên hiện vật
                            </th>
                            <th>
                                Đơn vị tính
                            </th>

                            <th>
                                Giá ước lượng/1 đơn vị tính
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in hv)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenHv)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Donvitinh)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Gia) VNĐ
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        </td>
    </table>
</div>
