@model LuanVan.Data.LoaiHv

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Loại hiện vật</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Diễn giải
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienGiai)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaLoai" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Về danh sách</a>
    </form>
</div>
