@model LuanVan.Data.Noihotro

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-group {
        width: 400px;
    }
</style>

<h1>Chỉnh sửa</h1>

<h4>Đề xuất nơi hỗ trợ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Manoi" />
            <div class="form-group">
                <label asp-for="MaMtq" class="control-label">Người đề xuất</label>
                <select asp-for="MaMtq" class="form-control" asp-items="ViewBag.MaMtq"></select>
                <span asp-validation-for="MaMtq" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Diachi" class="control-label">Địa chỉ</label>
                <input asp-for="Diachi" class="form-control" />
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Tinhtrang" class="control-label">Tình trạng</label>
                <input asp-for="Tinhtrang" class="form-control" />
                <span asp-validation-for="Tinhtrang" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Canhotro" class="control-label">Cần hỗ trợ</label>
                <input asp-for="Canhotro" class="form-control" />
                <span asp-validation-for="Canhotro" class="text-danger"></span>
            </div><br />
           
            <div class="form-group">
                <label asp-for="AnhNth" class="control-label">Thêm hình ảnh</label>
                <input asp-for="AnhNth" type="file" id="fileImage" class="form-control-file" name="file">

                <br />

                <img id="preview" src="#" width="150" height="100" class="hidden" />
                <br />
                <span asp-validation-for="AnhNth" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    preview.src = "@Url.Content("~/Content/images/noihotro/"+Model.AnhNth)";
    fileImage.onchange = evt => {

        const [file] = fileImage.files

        if (file) {

            preview.src = URL.createObjectURL(file);

            $("#preview").removeClass("hidden");

        }

    }


</script>
<div>
    <a asp-action="Index">Về danh sách</a>
</div>

